.user-info,
.user-favourites-info {
    margin: 15px auto;
    width: 63%;
    padding: 15px;
    background-color: pink;
    border-radius: 15px;
}

.user-info {
    min-height: 210px;
}

.user-info img {
    float: left;
    margin-right: 20px;
    border-radius: 15px;
}

#first_name,
#last_name,
#email {
    margin-bottom: 5px;
    position: relative;
}

#email {
    margin-bottom: 10px;
}

#profile_image {
    margin-bottom: 10px;
}

.username-in-profile {
    margin: 0px;
    margin-bottom: 10px;
}
