.medicine-info {
    margin: 15px auto;
    min-height: 400px;
    width: 40%;
    background-color: pink;
    padding: 20px 80px;
    border-radius: 15px;
}

.medicine-info img {
    float: left;
    margin-right: 30px;
    border-radius: 15px;
}

.medicine-name {
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.medicine-price {
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}

.other-medicine-info {
    margin: 5px;
}

.other-medicine-info span {
    font-weight: 550;
}

.medicine-comments-block {
    margin: 15px auto;
    width: 40%;
    background-color: pink;
    padding: 10px 80px;
    border-radius: 15px;
}

.medicine-comment {
    min-height: 50px;
    margin: 10px 0px;
}

.medicine-comment img {
    float: left;
    margin-right: 10px;
    border-radius: 25px;
}

.comment-form {
    margin-bottom: 40px;
}

.comment-form textarea {
    resize: none;
    width: 100%;
    height: 50px;
}
