.filters {
    position: absolute; 
    left: 15px; 
    top: 60px; 
    width: 16%;
    height: 100%;
    background-color: pink;
}
.main { 
    position: absolute; 
    right: 0; 
    top: 100; 
    width: 83%;
    height: 100%;
}
.content {
    display: block;
    padding: 15px;
}
.medicine {
    display: inline-block;
    width: 175px; 
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.medicine label {
    white-space: nowrap;
}

.search-block, 
.price-block, 
.category-block, 
.form-block, 
.country-block, 
.prescription-block {
    width: 70%;
    margin: 5px auto;
}

.search-block {
    margin-top: 50px;
}

.search-block input {
    width: 93%;
}

.price-block input {
    width: 38%;
}

.buy-favourites-buttons-block {
    margin-top: 15px;
    display: flex;
}

.add-to-favourites-mp-button,
.buy-from-mp-button {
    width: 95%;
    font-size: 10px;
}

.add-to-favourites-mp-form,
.buy-from-mp-form {
    width: 50%;
    text-align: center;
}

.dropbtn {
    background-color: rgb(214, 214, 214);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.clear-filters-button {
    display: inline-block;
    margin-left: 20px;
}

.clear-filters-button:hover .dropbtn {background-color: #3e8e41;}
