{% extends 'base.html' %}

{% block content %}
<div class='medicine-info'>
    <img src="{% if 'https%3A/' in medicine.photo.url %}{{ medicine.photo }}{% else %}{{ medicine.photo.url }}{% endif %}" width="400" height="400"/>
    <div class='medicine-text-info'>
        <p class='medicine-name'>{{ medicine.name }}</p>
        <p class='medicine-price'>{{ medicine.price }} грн</p>
        <p class='other-medicine-info'>Категорія: <a href="{% url 'store:store' %}?category={{ medicine.category.id }}">{{ medicine.category }}</a></p>
        <p class='other-medicine-info'>Форма випуску: <a href="{% url 'store:store' %}?form={{ medicine.form.id }}">{{ medicine.form }}</a></p>
        <p class='other-medicine-info'>Країна: <a href="{% url 'store:store' %}?country={{ medicine.country_of_origin.id }}">{{ medicine.country_of_origin }}</a></p>
        <p class='other-medicine-info'>Виробник: <a>{{ medicine.manufacturer }}</a></p>
    </div>
</div>
<div class="medicine-comments-block">
    <form class="comment-form" method="POST" action="{% url 'store:medicine_page' id=medicine.id %}">
        {% csrf_token %}
        <label for="comment-input">Залишити коментарій:</label><br>
        <textarea id="comment-input" name="comment"></textarea>
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="url" value="{{ request.build_absolute_uri }}">
        <input type="submit" value="Коментувати">
    </form>
    {% for comment in comments %}
        <div class="medicine-comment">
            <img src="{{ comment.user.photo.url }}" width="50" height="50"/>
            <strong>{{ comment.user.username }}</strong>
            {{ comment.date_posted.date }}<br>
            {{ comment.comment }}
        </div>
        {% if comment.user == request.user %}
            <form method="POST" action="{% url 'store:medicine_page' id=medicine.id %}">
                {% csrf_token %}
                <input type="hidden" name="is_delete_comment" value=True>
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <input type="hidden" name="url" value="{{ request.build_absolute_uri }}">
                <input type="submit" value="Видалити">
            </form>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}