{% extends 'base.html' %}

{% block content %}
<div class='medicine-info'>
    <img src="{% if 'https%3A/' in medicine.photo.url %}{{ medicine.photo }}{% else %}{{ medicine.photo.url }}{% endif %}" width="400" height="400"/>
    <div class='medicine-text-info'>
        <p class='medicine-name'>{{ medicine.name }}</p>
        <p class='medicine-price'>{{ medicine.price }} грн</p>
        <p class='other-medicine-info'>Категорія: <span>{{ medicine.category }}</span></p>
        <p class='other-medicine-info'>Форма випуску: <span>{{ medicine.form }}</span></p>
        <p class='other-medicine-info'>Виробник: <span>{{ medicine.manufacturer }}</span></p>
        <p class='other-medicine-info'>Країна: <span>{{ medicine.country_of_origin }}</span></p>
    </div>
</div>
{% endblock %}