{% extends 'base.html' %}

{% block title %}
Medicines
{% endblock %}

{% block content %}
<style>
    #filters {
        position: absolute; 
        left: 0; 
        top: 100; 
        width: 17%;
        height: 100%;
        background-color: pink;
    }
    #main { 
        position: absolute; 
        right: 0; 
        top: 100; 
        width: 83%;
        height: 100%;
    }
    #content {
        display: block;
        padding: 15px;
    }
    .medicine {
        display: inline-block;
        width: 175px; 
        border: 1px solid black;
        border-radius: 0.4em;
        padding: 5px;
        margin: 5px;
        font-size: 14px;
    }
</style>
<div id='filters'>
</div>
<div id='main'>
    <div id='content'>
        {% for p in medicines %}
            <div class='medicine'>
                <img src="{{ p.photo }}" width="175" height="175"/> <br>
                <label style='font-weight: 450;'>{{ p.name }}</label> <br><br>
                <label style='font-size: 17px; font-weight: 600;'>{{ p.price }} грн</label>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}