{% extends 'base.html' %}

{% block title %}
{{ user_about.username }}
{% endblock %}

{% block content %}
<div class="user-info">
    Вибране:
    <div>
    {% for p in add_info.0.favourites.all %}
        <div class='medicine' onclick="location.href='/medicine/{{ p.id }}/';">
            <img src="{{ p.photo }}" width="175" height="175"/> <br>
            <label style='font-weight: 450;'>{{ p.name }}</label> <br><br>
            <label style='font-size: 17px; font-weight: 600;'>{{ p.price }} грн</label>
            <div class="buy-favourites-buttons-block">
                <form class="buy-from-mp-form">
                    <input class="buy-from-mp-button" type="button" onclick="alert('Не готово!'); event.stopPropagation();" value="Придбати">
                </form>
                <form method="POST" enctype="multipart/form-data" action="/user/{{ current_user.username }}/" class="add-to-favourites-mp-form">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" value="{{ current_user.username }}" style="display: none;">
                    <input type="text" id="medicine_id" name="medicine_id" value="{{ p.id }}" style="display: none;">
                    <input id="add-to-favourites-mp-button-{{ p.id }}" class="add-to-favourites-mp-button" type="submit" onclick="event.stopPropagation();" value="До улюблених">
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}