{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static '/users/signup.css' %}">

<div class="container">
    <div class="login form">
        <header>Вхід</header>
        <form action="{% url "user:login" %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <p>{{ form.non_field_errors }}</p>
            {% endif %}
            <input type="text" name="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" placeholder="Введіть логін">
            <input type="password" name="password" placeholder="Введіть пароль">
            <a href="#">Забули пароль?</a>
            <input type="submit" class="button" value="Увійти">
        </form>
        <div class="signup">
            <span class="signup">Не маєте аккаунту?
            <a href={% url 'user:signup' %}>Реєстрація</a>
            </span>
        </div>
    </div>
</div>
{% endblock %}