{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="user-info">
    <img src="{% if 'https%3A/' in user_info.photo.url %}{{ user_info.photo }}{% else %}{{ user_info.photo.url }}{% endif %}" alt="{{ user_info.username }}_photo" width="210" height="210"/>
    <h2 class='username-in-profile'>{{ user_info.username }}</h2>
    {% if user == user_info %}
    <form action="{% url 'user:profile' username=user_info.username %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="first_name">Ім'я:</label>
        <input type="text" id="first_name" style="left: 70px;" name="first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"><br>
        <label for="last_name">Прізвище:</label>
        <input type="text" id="last_name" style="left: 23px;" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"><br>
        <label for="email">email:</label>
        <input type="text" id="email" style="left: 58px;" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}"><br>
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <label for="profile_photo">Фото профілю:</label>
        <input type="file" id="profile_photo" name="photo"><br>
        <input type="submit" value="Зберегти">
    </form>
    {% endif %}
</div>
<div class="user-favourites-info">
    <p>Вибране:</p>
    <div>
    {% for p in user_info.favourites.all %}
        {% include 'includes/medicine.html' %}
    {% endfor %}
    </div>
</div>
{% endblock %}